@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor0: white;
    --cor1: black;

    --fonte-padrão: 'Sriracha', Arial, sans-serif;
    --fonte-titulo: 'Passion One', Arial, serif;
    --fonte-subtitulo: Verdana, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor1);
    padding: 35px;
    text-align: center;
}
header h1{
    font-weight: normal;
    font-family: var(--fonte-titulo);
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.418);
}
header p{
    font-weight: normal;
    font-family: var(--fonte-subtitulo);
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.418);
}
header a{
    font-weight: bold;
    font-family: var(--fonte-subtitulo);
    font-size: 1em;
    color: var(--cor0);
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.418);
    transition-duration: 0.5s;
}
header a:hover{
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
}
main p{
    text-indent: 5px;
    line-height: 60px;
    text-align: justify;
    font-weight: normal;
    font-family: var(--fonte-padrão);
    padding: 50px;
    font-size: 1.8rem;
    color: rgb(0, 0, 0)
}
section.imagem > p{
    color: rgb(255, 255, 255);
}
section#img01{
    background: rgb(255, 233, 204) url(imagens/igor-sporynin-abng8QH-tjE-unsplash_gimp.jpg) no-repeat fixed center center;
    background-size: cover;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.726);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.514);
    text-align: left;
    max-width: 100%;
}
section#img02{
    background: rgb(255, 233, 204) url(imagens/mauro-lima-icL3YmojLLc-unsplash_gimp.jpg) no-repeat fixed center center;
    background-size: cover;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.548);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.637);
    text-align: left;
    max-width: 100%;
}
footer{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center
}
footer p{
    font-weight: normal;
    font-family: var(--fonte-subtitulo);
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.418);
}
footer a{
    font-weight: bold;
    font-family: var(--fonte-subtitulo);
    font-size: 1em;
    color: var(--cor0);
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.418);
    transition-duration: 0.5s;
}
footer a:hover{
    text-decoration: underline;
    padding: 5px 5px 5px 5px;
}